{{ define "index.tmpl" }}
<html>
<head>
    <style type="text/css" media="screen">
           @import url("/css/main.css");
    </style>
</head>
<body>
<h1>
{{ .title }}
</h1>

</body>
</html>
{{ end }}